name: Deploy website on push

on:
  push:
    branches: [main]

jobs:
  web-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: 188.166.248.183
          username: dailyfood_deploy
          password: depLaz**87Ftjb
          protocol: ftp
          port: 21
          passive: true
          local-dir: ./
          server-dir: /fze.erpcode.live/
          dangerous-clean-slate: false
          exclude: |
            **/.git*
            **/node_modules/**
            **/vendor/**

